In [1]:
import urllib.request
import pandas as pd

url = "https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2020-01.parquet"
output_path = "fhv_tripdata_2020-01.parquet"

# Tải file về
urllib.request.urlretrieve(url, output_path)

# Đọc file parquet vào DataFrame
df = pd.read_parquet(output_path)

df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2020-01-01 00:30:00,2020-01-01 01:44:00,264.0,264.0,None,B00001
1,B00001,2020-01-01 00:30:00,2020-01-01 00:47:00,264.0,264.0,None,B00001
2,B00009,2020-01-01 00:48:00,2020-01-01 01:19:00,264.0,264.0,None,B00009
3,B00009,2020-01-01 00:34:00,2020-01-01 00:43:00,264.0,264.0,None,B00009
4,B00009,2020-01-01 00:23:00,2020-01-01 00:32:00,264.0,264.0,None,B00009

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2028587 entries, 0 to 2028586
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    object
 1   pickup_datetime         datetime64[us]
 2   dropOff_datetime        datetime64[us]
 3   PUlocationID            float64
 4   DOlocationID            float64
 5   SR_Flag                 object
 6   Affiliated_base_number  object
dtypes: datetime64[us](2), float64(2), object(3)
memory usage: 108.3+ MB

In [ ]:
df.SR_Flag.isnull

0          None
1          None
2          None
3          None
4          None
           ...
2028577    None
2028578    None
2028579    None
2028580    None
2028581    None
Name: SR_Flag, Length: 2028582, dtype: object

In [2]:
df['passenger_count'][0]

np.float64(5.0)

In [6]:
df.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1.0,264,264,5.0,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2.0,1.0,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1.0,97,49,2.0,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1.0,49,189,2.0,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1.0,1.0,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1.0,189,17,2.0,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1.0,1.0,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1.0,82,258,1.0,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,NaN