In [ ]:
import urllib.request

output_path = "green_tripdata_2019-01.parquet"
csv_path = "green_tripdata_2019-01.csv"

import pandas as pd 

df = pd.read_parquet(output_path)
df.to_csv(csv_path, index=False)

df = pd.read_csv(csv_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672105 entries, 0 to 672104
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               672105 non-null  int64
 1   lpep_pickup_datetime   672105 non-null  object
 2   lpep_dropoff_datetime  672105 non-null  object
 3   store_and_fwd_flag     630526 non-null  object
 4   RatecodeID             630526 non-null  float64
 5   PULocationID           672105 non-null  int64
 6   DOLocationID           672105 non-null  int64
 7   passenger_count        630526 non-null  float64
 8   trip_distance          672105 non-null  float64
 9   fare_amount            672105 non-null  float64
 10  extra                  672105 non-null  float64
 11  mta_tax                672105 non-null  float64
 12  tip_amount             672105 non-null  float64
 13  tolls_amount           672105 non-null  float64
 14  ehail_fee              339 non-null     float64
 15  improvement_surcharge  672105 non-null  float64
 16  total_amount           672105 non-null  float64
 17  payment_type           630526 non-null  float64
 18  trip_type              630187 non-null  float64
 19  congestion_surcharge   84527 non-null   float64
dtypes: float64(14), int64(3), object(3)
memory usage: 102.6+ MB

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_8660\1192845840.py:15: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_path)

In [2]:
df['passenger_count'][0]

np.float64(5.0)

In [6]:
df.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1.0,264,264,5.0,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2.0,1.0,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1.0,97,49,2.0,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2.0,1.0,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1.0,49,189,2.0,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1.0,1.0,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1.0,189,17,2.0,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1.0,1.0,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1.0,82,258,1.0,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,NaN